body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif, "Sans Serif", Icons /*!System*/;
  font-size: 15px;
  font-weight: 400;
  color: #000;
  background-color: #fff;
  position: relative;
  line-height: 1.6;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* MISC */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.text-center {
  text-align: center !important;
}

.center-relative {
  margin-left: auto;
  margin-right: auto;
}

.container {
  max-width: 800px;
  width: 100%;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.button {
  background-color: #000;
  border-radius: 2px;
  padding: 8px 11px;
  color: #fff;
  font-size: 12px;
  border: none;
  /* text-transform: capitalize; */
  -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear;
}

.button:hover {
  background-color: rgba(0,0,0,0.75);
  color: #fff;
}

/* TYPE */
a {
  text-decoration: none;
  color: #000;
  /* opacity: 0.5; */
  /* -webkit-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; */
  -webkit-box-shadow: 0px -3px 0px 0px #00FFA7 inset;
  box-shadow: 0px -3px 0px 0px #00FFA7 inset;
  -webkit-transition: -webkit-box-shadow 250ms ease-in-out;
  transition: -webkit-box-shadow 250ms ease-in-out;
  transition: box-shadow 250ms ease-in-out;
  transition: box-shadow 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
  /* transition: color 150ms ease-in-out; */
}

a:hover {
  color: #000;
  /* opacity: 0.5; */
  text-decoration: none;
  -webkit-box-shadow: 0px -25px 0px 0px #00FFA7 inset;
  box-shadow: 0px -25px 0px 0px #00FFA7 inset;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

/* NAV */
.navbar {
  height: 80px;
  padding: 0;
}

.nav-list .nav-item:first-child .nav-link {
  margin-left: 0;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  float: left;
}

.nav-item .nav-link {
  font-weight: 600;
  padding: 0;
  margin: .5rem 1rem;
}

@media screen and (max-width: 768px) {
  .nav-list {
    display: block;
  }
}

/*---------- HOMEPAGE STYLING ----------*/
/* CONTENT */
.content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.content .hey {
  font-size: 42px;
  margin-top: 3rem;
}

.content .blurb {
  font-size: 22px;
  margin: 20px 0 3rem 0;
  font-weight: 400;
}

.hello {
  /* font-weight: 700; */
  text-decoration: underline;
}

.kenan {
  width: 100%;
  height: 350px;
  background-image: url("../images/kenan.jpg");
  background-repeat: no-repeat;
  background-position: center 25%;
  background-size: cover;
}

.content .email {
  font-weight: 600;
  font-size: 22px;
}

/* GALLERY */
.grid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.grid-item {
  margin-bottom: 30px;
}

.item-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 3px 20px rgba(110, 123, 157, 0.5);
  -moz-box-shadow: 0 3px 20px rgba(110, 123, 157, 0.5);
  -ms-box-shadow: 0 3px 20px rgba(110, 123, 157, 0.5);
  -o-box-shadow: 0 3px 20px rgba(110, 123, 157, 0.5);
  box-shadow: 0 3px 20px rgba(110, 123, 157, 0.5);
}

.item-wrapper img {
  width: 100%;
  height: auto;
}

.item-overlay {
  background: rgba(48,48,48,0.8);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0)), to(rgba(0,0,0,0.8)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,0.8));
  background: -o-linear-gradient(top, rgba(255,255,255,0), rgba(0,0,0,0.8));
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,0.8));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  opacity: 0;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  text-align: center;
  border-radius: 3px;
}

.item-logo {
  display: inline-block;
  float: left;
}

.item-logo img {
  width: 75px;
}

.item-logo .ppac-ya {
  width: 50px;
}

.item-content {
  position: absolute;
  bottom: 20px;
  left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-text {
  text-align: left;
  line-height: 0;
  margin-left: 10px;
}

.item-title {
  line-height: 1.5;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  display: block;
  margin: 0;
}

.item-subtitle {
  color: #ddd;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

.item-wrapper:hover .item-overlay {
  opacity: 1;
}

.item-overlay .item-overlay-logo {
  width: 150px;
}

@media screen and (max-width: 768px) {
  .item-overlay {
    opacity: 1;
  }
}
